.calculator-body {
    background-color: rgb(166, 166, 166);
    width: 300px;
    height: 500px;
    border: black solid 1px;
    border-radius: 3%;
    text-align: center;
}

.display-screen {
    background-color: rgb(140, 139, 139);
    width: 260px;
    height: 80px;
    border: black solid 1px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.display-equation {
    width: 250px;
    height: 36px;
    border: black solid 1px;
    margin-top: 2px;
    position: relative;
    left: 4px;
    top: 1px;
}

.display-input {
    width: 250px;
    height: 34px;
    border: black solid 1px;
    margin-bottom: 2px;
    position: relative;
    left: 4px;
}

.calculator-buttons {
    width: 260px;
    height: 320px;
    /* border: black solid 1px; */
    display: inline-block
}

.regular, .operation, .number, .equals, .delete, .clear {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black solid 1px;
    margin: 1px;
    margin-bottom: 3px;
    background-color: rgb(199, 194, 194);
    font-size: 20px;
    color: white;
}

.equals {
    width: 120px;
    height: 60px;
    border-radius: 15px;
}