.calculator {
    display: inline-block
}

.calculator-body {
    background-color: rgb(166, 166, 166);
    width: 300px;
    height: 500px;
    border: black solid 1px;
    border-radius: 3%;
    text-align: center;
}

.display-screen {
    background-color: rgb(140, 139, 139);
    width: 260px;
    height: 80px;
    border: black solid 1px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.display-equation, .display-input {
    width: 250px;
    height: 36px;
    /* border: black solid 1px; */
    margin-top: 2px;
    position: relative;
    left: 4px;
    top: 1px;
    text-align: right;
}

.display-input {
    height: 34px;
    margin-bottom: 2px;
    margin-top: 0;
    left: 4px;
    top: 0;
    font-size: 20px;
    color: white;
}

.calculator-buttons {
    width: 260px;
    height: 320px;
    /* border: black solid 1px; */
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 150px);
    /* top: 32%; */
}

.decimal, .operation, .number, .equals, .delete, .clear {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black solid 1px;
    margin: 1px;
    margin-bottom: 3px;
    background-color: rgb(199, 194, 194);
    font-size: 20px;
    color: white;
}

.equals {
    width: 120px;
    height: 60px;
    border-radius: 15px;
}

.operation:hover {
    background-color: rgb(127, 232, 255);
}

.number:hover, .decimal:hover {
    background-color: rgb(207, 207, 207);
}

.clear:hover {
    background-color: rgb(215, 121, 121);
}

.delete:hover {
    background-color: rgb(249, 153, 89);
}

.equals:hover {
    background-color: rgb(156, 240, 114);
}

body {
    text-align: center;
    background-color: rgb(187, 255, 255);
}

h1 {
    color: rgb(54, 52, 52);
    outline: black 1px;
}