.calculator-body {
    background-color: rgb(166, 166, 166);
    width: 300px;
    height: 500px;
    border: black solid 1px;
    border-radius: 3%;
    text-align: center;
}

.display-screen {
    background-color: rgb(140, 139, 139);
    width: 260px;
    height: 80px;
    border: black solid 1px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.calculator-buttons {
    width: 260px;
    height: 320px;
    /* border: black solid 1px; */
    margin-top: 120px;
}

.regular, .operation {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black solid 1px;
    margin: 1px;
    margin-bottom: 3px;
    background-color: rgb(199, 194, 194);
    font-size: 20px;
    color: white;
}

.equals {
    width: 120px;
    height: 60px;
    border-radius: 15px;
    border: black solid 1px;
    margin: 1px;
    background-color: rgb(199, 194, 194);
    font-size: 20px;
    color: white;
}